block content
	head
		meta(charset='UTF-8')
		title Lobby
		script(type='text/javascript', src='http://code.jquery.com/jquery-1.12.4.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
		script(type='text/javascript', src='/socket.io/socket.io.js')
		script(type='text/javascript', src='/javascript/lobby.js')
		link(rel='stylesheet', href='/stylesheets/lobby.css')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css')
	body
		header.header#header

		#container.container
			#hiddenDiv.hidden
				span#emp_id #{emp_id}
			h1 그림회의
			p 방생성
			div.form-group.form-group-md.form-inline
				label.control-label(for='room') 방제목 : 
				input#room.form-control(type='text')
				button#createButton.btn.btn-default CREATE ROOM
			hr
			p 방목록
			div#roomDiv
